<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [2]:
import pandas as pd
df = pd.read_csv("data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [3]:
#DROP THE TABLE IF EXISTS
cur.execute("DROP TABLE IF EXISTS SPACEXTABLE")

In [4]:
cur.execute("create table SPACEXTABLE as select * from SPACEXTBL where Date is not null")

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [5]:
statement = "SELECT DISTINCT LAUNCH_SITE FROM SPACEXTABLE"
cur.execute(statement)
output = cur.fetchall()
for row in output:
  print(row)

('CCAFS LC-40',)
('VAFB SLC-4E',)
('KSC LC-39A',)
('CCAFS SLC-40',)


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [6]:
statement = "SELECT * FROM SPACEXTABLE WHERE LAUNCH_SITE LIKE 'CCA%' LIMIT 5"
cur.execute(statement)
output = cur.fetchall()
for row in output:
  print(row)

('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [7]:
statement = "SELECT SUM(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE CUSTOMER IS 'NASA (CRS)'"
cur.execute(statement)
output = cur.fetchall()
for row in output:
  print(row)

(45596,)

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [8]:
statement = "SELECT AVG(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE BOOSTER_VERSION IS 'F9 v1.1'"
cur.execute(statement)
output = cur.fetchall()
for row in output:
  print(row)

(2928.4,)

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [9]:
statement = "SELECT MIN(DATE) FROM SPACEXTABLE WHERE LANDING_OUTCOME IS 'Success (ground pad)'"
cur.execute(statement)
output = cur.fetchall()
for row in output:
  print(row)

('2015-12-22',)

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [10]:
statement = "SELECT BOOSTER_VERSION FROM SPACEXTABLE WHERE LANDING_OUTCOME IS 'Success (drone ship)' AND PAYLOAD_MASS__KG_ > 4000 and PAYLOAD_MASS__KG_ < 6000"
cur.execute(statement)
output = cur.fetchall()
for row in output:
  print(row)

('F9 FT B1022',)
('F9 FT B1026',)
('F9 FT  B1021.2',)
('F9 FT  B1031.2',)

### Task 7




##### List the total number of successful and failure mission outcomes

In [11]:
statement = "SELECT COUNT(*) FROM SPACEXTABLE WHERE LANDING_OUTCOME LIKE 'Success%'"
cur.execute(statement)
output = cur.fetchall()
for row in output:
  print(row)
statement = "SELECT COUNT(*) FROM SPACEXTABLE WHERE LANDING_OUTCOME LIKE 'Fail%'"
cur.execute(statement)
output = cur.fetchall()
for row in output:
  print(row)

(61,)
(10,)

### Task 8



##### List all the booster_versions that have carried the maximum payload mass, using a subquery with a suitable aggregate function.

In [12]:
statement = "SELECT BOOSTER_VERSION FROM SPACEXTABLE WHERE PAYLOAD_MASS__KG_ IS (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE)"
cur.execute(statement)
output = cur.fetchall()
for row in output:
  print(row)

('F9 B5 B1048.4',)
('F9 B5 B1049.4',)
('F9 B5 B1051.3',)
('F9 B5 B1056.4',)
('F9 B5 B1048.5',)
('F9 B5 B1051.4',)
('F9 B5 B1049.5',)
('F9 B5 B1060.2 ',)
('F9 B5 B1058.3 ',)
('F9 B5 B1051.6',)
('F9 B5 B1060.3',)
('F9 B5 B1049.7 ',)

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [23]:
statement = "SELECT SUBSTR(DATE, 6,2),MISSION_OUTCOME,BOOSTER_VERSION,LAUNCH_SITE FROM SPACEXTBL WHERE SUBSTR(DATE, 0, 5) = '2015'"
cur.execute(statement)
output = cur.fetchall()
for row in output:
  print(row)

('01', 'Success', 'F9 v1.1 B1012', 'CCAFS LC-40')
('02', 'Success', 'F9 v1.1 B1013', 'CCAFS LC-40')
('03', 'Success', 'F9 v1.1 B1014', 'CCAFS LC-40')
('04', 'Success', 'F9 v1.1 B1015', 'CCAFS LC-40')
('04', 'Success', 'F9 v1.1 B1016', 'CCAFS LC-40')
('06', 'Failure (in flight)', 'F9 v1.1 B1018', 'CCAFS LC-40')
('12', 'Success', 'F9 FT B1019', 'CCAFS LC-40')

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [26]:
statement = "SELECT LANDING_OUTCOME FROM SPACEXTBL WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20' ORDER BY DATE DESC"
cur.execute(statement)
output = cur.fetchall()
for row in output:
  print(row)

('No attempt',)
('Success (ground pad)',)
('Success (drone ship)',)
('Success (drone ship)',)
('Success (ground pad)',)
('Failure (drone ship)',)
('Success (drone ship)',)
('Success (drone ship)',)
('Success (drone ship)',)
('Failure (drone ship)',)
('Failure (drone ship)',)
('Success (ground pad)',)
('Precluded (drone ship)',)
('No attempt',)
('Failure (drone ship)',)
('No attempt',)
('Controlled (ocean)',)
('Failure (drone ship)',)
('Uncontrolled (ocean)',)
('No attempt',)
('No attempt',)
('Controlled (ocean)',)
('Controlled (ocean)',)
('No attempt',)
('No attempt',)
('Uncontrolled (ocean)',)
('No attempt',)
('No attempt',)
('No attempt',)
('Failure (parachute)',)
('Failure (parachute)',)

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>